@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.container {
  display: flex;
  flex-direction: column;

  //width: 378px;

  //max-width: 378px;
  min-width: 378px;
  margin-top: 40px;
  padding: 29px 24px 30px;

  background-color: rgb(255 255 255 / 50%);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 10px;
  box-shadow:
    0 5px 20px rgb(29 33 38 / 3%),
    0 1px 2px rgb(29 33 38 / 10%);

  > h2 {
    //@include text(100, 26px, 24px, $secondary);
    @include text(100, 26px, 24px, $primary);

    padding: 0 0 20px;
    text-align: center;
    text-transform: uppercase;

    //border: 1px solid red;
  }

  @media screen and (width <= 632px) {
    //width: 100%;
    min-width: 278px;
  }
}
