//.container {
//  .content {
//    min-height: 100vh;
//    margin-top: 100px;
//
//    //height: calc(100vh - 80px);
//  }
//}
@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.container {
  max-width: 1920px;

  //max-width: 1280px;

  //width: 1280px;
  //width: 100vw;
  margin: 0 auto;

  .content {
    display: flex;
    flex-direction: column;

    //column-gap: 70px;
    align-items: center;

    //justify-content: center;

    //height: calc(100vh - 60px);

    min-height: 100vh;
    padding-top: 80px;

    //padding: 0 95px 0 105px;

    //background-color: $primary100;
    background-color: $gray200;

    //background-color: $secondary100;

    //background-color: $tertiary100;

    //background-color: transparent;

    //border: 1px solid red;

    //box-shadow: 0 5px 20px rgb(29 33 38 / 3%), 0 1px 2px rgb(29 33 38 / 10%);

    @media screen and (width <= 1027px) {
      padding-top: 55px;
    }
  }
}
