$primary: #385a64;
$primary400: #497583;
$primary300: #5c93a3;
$primary200: #9dbec8;
$primary100: #dee9ed;
$secondary: #1a2e35;
$secondary400: #325967;
$secondary400: #437689;
$secondary300: #5494ab;
$secondary200: #98bfcd;
$secondary100: #ddeaee;
$tertiary: #ff735c;
$tertiary400: #ff9180;
$tertiary300: #ffbdb3;
$tertiary200: #ffd3cc;
$tertiary100: #ffe9e6;
$gray1200: #000;
$gray1100: #0d0c0b;
$gray1000: #1a1718;
$gray900: #636262;
$gray800: #737067;
$gray700: #797476;
$gray600: #adabac;
$gray500: #b3b0b1;
$gray400: #dedbdc;
$gray300: #faf7f8;
$gray200: #fcfbfb;
$gray100: #fff;

$desktop: 1280px;
